
.billInput {

}

.goodInput {
    background-color: green;
}

.badInput {
    background-color: red;
}


.billAdd {
  height: 70px;
  border-radius: 10px;
  background-color: #efefef;
  box-shadow: 0px 3px 0px 0.00px rgba(0, 0, 0, 0.05);
}

.enterBills {
    margin-top: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.billDisplay {
    height: 90px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px 0.00px rgba(0, 0, 0, 0.05);
    margin-left: span(1 of 12);
    margin-top: 20px;
}

.pac-container:after {
    background-image: none;
    background-image: url(../assets/miniArrow.png);
    background-size: 21px 14px;
    background-position: 318px 10px;
    background-color: #f6f6f6;
    height: 30px;
    text-align: left;
    padding-left: 20px;
    content: "No Match? That\'s ok. Enter any name and click the \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 button.";
    font-family: Arial;
	color: #999999;
	font-size: 13px;
	font-weight: 400;
	line-height: 36px;
}

.pac-container {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0.00px rgba(0, 0, 0, 0.45);
    width: 425px !important;
}

.pac-icon {
    display: none;
}

.pac-item {
    height: 79px;
    padding-left: 30px;
    font-weight: 400;
    line-height: 36px;

    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pac-item-query {
    width: 425px;
    display: block;
    font-family: Arial;
    color: #000000;
    font-size: 15px;

    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px
}

.pac-item>span:last-child {
    position: relative;
    top: -15px;
    font-size: 12px;
}

.pac-item:hover .pac-item-query {
    color:  #00a1e1;
}

.pac-matched {
    font-weight: 700;
}

.blah {
    height: 45px;
    font-family: Arial;
    color: #000000;
    font-size: 18px;
    font-weight: 400px;
    line-height: 36px;
}
